body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0c8a3;
}

header {
    background-color: #f5edd8;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

nav {
    margin: 20px 0;
}

nav a {
    color: #007bff;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.footer {
    background-color: #a8d2fc;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.button {
    background-color: #a7eeee;
    color: rgb(136, 233, 141);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

